.topic-title {
    /* display: flex;
    align-items: center ;
    margin-bottom: 1rem; */
    text-align: center !important;
  justify-content: center !important;
  width: 100%;
    color: red;
    padding-top: 2%;
    /* margin: 1%; */
  }
  
.coreteam-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .nes-container.member-card .nes-icon {
    transform: scale(1.5);
  }
  .nes-container.member-card {
    display: flex;
    padding: 1rem 1.5rem;
    width: 400px;   
    margin-bottom: 2rem;
  }
  
  .member-card .avatar > img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .member-card > .profile {
    margin-left: 1.5rem;
  }
  .member-card > .profile > .name {
    font-size: 20px;
  }
  .contributor {
    display: inline-block;
    margin: 1rem;
    text-align: center;
    /* width: 160px; */
  }
  .contributor > p {
    margin: .5rem;
    font-size: 12px;
  }
  .contributor img.nes-avatar {
    transition: all .4s;
    display: inline-block;
    height: 100px;
    width: 100px;
  }
  .contributor:hover {
    text-decoration: none;
    opacity: 0.7;
  }
  .nth-team .adjust{
    width: 20px;
    /* height: 20px; */
    /* overflow: auto; */
  }
  .container-adjust{
    padding-left: 20%;
      padding-right: 15%
  }
  @media screen and (max-width : 1000px) {
    .container-adjust{
      padding-left: 5%;
        padding-right: 5%
    }
    .nth-team .adjust{
      width: 110px;
      top: 50%;
      left: 50%;
      /* height: 20px; */
      /* overflow: auto; */
    }
    .topic-title {
        font-size: 15px;
        padding-top: 6%;
    }
    .team{
        max-height: 80vh;
        overflow: auto;

    }
    /* .coreteam-members{
        overflow: auto;
        max-height: 50vh;
    } */
    .nes-container.member-card{
        width: 280px;
        /* height: 130px; */
    }
    .member-card .avatar > img {
        
        width: 80px;
        height: 80px;
        
      }
      .member-card > .profile > .name {
        font-size: 13px;
      }
      .nth-team .adjust{
        width: 1000px;
        padding-left: 10%;
      }
      
      .contributor img.nes-avatar {
        height: 64px;
        width: 64px;
      }
      
  }

  