.Leaderboard {
  max-width: 450px;
  /* background-color: white; */
  /* margin: 40px 20px; */
  /* margin-left: 36%; */
  width: fit-content;
  height: fit-content;
  outline: 4px solid #feeb2c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.high-scores {
  padding: 20px 10px;
}

.high-scores p {
  font-size: 22px;
  color: #ff074e;
  font-family: 'Press Start 2P', cursive;
}

table {
  width: 450px;
  border-collapse: separate;
  border-spacing: 0 1em;

}

thead {
  color: rgb(254, 235, 44);
}

.tdhead {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

thead {
  height: 40px;
  padding-bottom: 20px;
}

.tdbody {
  color: #0058f8;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

/*--------------- Trying to make it responsive for smaller screen :) ------------------*/
/* @media only screen and (max-height: 790px) {
  .Leaderboard{
      height: 540px;
      width: 400px;
  
      
  }
  table{
      width: 400px;
  }
  .tdbody{
      font-size: 12px;
  }
  .high-scores{
      padding: 10px 10px;
  }
} */

/* @media only screen and (max-height: 600px){
  .Leaderboard{
      height: 450px;
      max-width: 350px;
      margin-left: 28px;
  }
  table{
    
      width: 350px;
      border-spacing: 0 12px;
  }
  .tdhead{
      font-size: 14px;
  }
  .tdbody{
      font-size: 12px;
  }
  .high-scores{
      padding: 5px;
  }
} */

@media only screen and (max-width: 1000px) {
  .Leaderboard {
    /* height: 400px;
      width: 300px; */
    /* margin-left: 0%; */
    /* padding: 5px; */
    /* height: fit-content; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   */
  }

  table {
    width: 300px;
  }

  .tdhead {
    font-size: 14px;
  }

  .tdbody {
    font-size: 12px;
  }

  .high-scores {
    padding: 5px;
  }
}