.footer {
    left: 0;
    bottom: 0;
    position: relative;
   width: 100%;
    background-color: rgb(20, 20, 20);;
    color: white;
    /* padding: 20px 0 5px; */
}

.footer .row {
    text-align: center;
    font-size: 130%;
}

.footer .web-team-link a {
    text-decoration: none;
    position: relative;
    color: #E9B171;
}


.footer .web-team-link a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    
}

.footer .web-team-link a:hover::before {
    visibility: visible;
    width: 100%;

}



/* .footer .nes-icon:hover {
    transition: 0.3s;
    transform: rotateZ(360deg);
} */

.footer .nes-icon:hover {
    /* transition: 0.3s;
    transform: rotateZ(360deg); */
    filter: brightness(2);
}

/* .footer .instagram {
    color: white;

    font-size: 1.5rem;
    border-radius: 100%;
    padding: 8px 10px 7px 9px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
} */

/* .footer .linkedin {
    color: white;
    font-size: 1.5rem;
    margin: 0 20px;
    border-radius: 100%;
    padding: 8px 8.5px 8px 9.5px;
    background: #0077B5;
} */

/* .footer .facebook {
    color: white;
    font-size: 1.5rem;
    border-radius: 100%;
    padding: 8px 13px 9px 12px;
    background: #38529A;

} */