/* a[data-v-3a0f2cbd] {
    color: #00ff38
}

.logo[data-v-3a0f2cbd] {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: -52px
}

.logo .caret[data-v-3a0f2cbd] {
    position: absolute;
    top: -2rem;
    left: 50%;
    margin-left: -300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 480px solid rgba(18, 18, 18, .5);
    height: 0;
    width: 0
}

.logo .twitter-logo[data-v-3a0f2cbd] {
    position: relative;
    bottom: 25px;
    z-index: 1000;
    width: 50px
}

.logo .subtitle[data-v-3a0f2cbd] {
    position: relative;
    z-index: 4;
    color: #00ff38 !important;
    font-size: 2rem;
    margin-bottom: 0
}

.logo h1[data-v-3a0f2cbd] {
    position: relative;
    color: #fff;
    font-size: 90px;
    padding: 0;
    margin: 0
}

.button .icon[data-v-3a0f2cbd] {
    position: relative;
    top: -6px;
    font-size: 20px;
    margin-right: calc(-.375em + 4px) !important;
    display: inline-block
}

.menu[data-v-3a0f2cbd] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 4
}

.menu li[data-v-3a0f2cbd] {
    margin-right: .5rem !important
}

.night[data-v-3a0f2cbd] {
    position: absolute;
    top: -4rem;
    left: 50%;
    right: 50%;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.shooting_star[data-v-3a0f2cbd] {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
    border-radius: 999px;
    -webkit-filter: drop-shadow(0 0 6px #699bff);
    filter: drop-shadow(0 0 6px #699bff);
    -webkit-animation: tail-data-v-3a0f2cbd 3s ease-in-out infinite, shooting-data-v-3a0f2cbd 3s ease-in-out infinite;
    animation: tail-data-v-3a0f2cbd 3s ease-in-out infinite, shooting-data-v-3a0f2cbd 3s ease-in-out infinite
}

.shooting_star[data-v-3a0f2cbd]:after,
.shooting_star[data-v-3a0f2cbd]:before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    -webkit-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotate(45deg);
    border-radius: 100%;
    -webkit-animation: shining-data-v-3a0f2cbd 3s ease-in-out infinite;
    animation: shining-data-v-3a0f2cbd 3s ease-in-out infinite
}

.shooting_star[data-v-3a0f2cbd]:after {
    -webkit-transform: translateX(50%) rotate(-45deg);
    transform: translateX(50%) rotate(-45deg)
}

.shooting_star[data-v-3a0f2cbd]:first-child {
    top: calc(50% - 127px);
    left: calc(50% - 298px)
}

.shooting_star[data-v-3a0f2cbd]:first-child,
.shooting_star[data-v-3a0f2cbd]:first-child:after,
.shooting_star[data-v-3a0f2cbd]:first-child:before {
    -webkit-animation-delay: 5217ms;
    animation-delay: 5217ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(2) {
    top: calc(50% - -99px);
    left: calc(50% - 190px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(2),
.shooting_star[data-v-3a0f2cbd]:nth-child(2):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(2):before {
    -webkit-animation-delay: 4082ms;
    animation-delay: 4082ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(3) {
    top: calc(50% - -128px);
    left: calc(50% - 245px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(3),
.shooting_star[data-v-3a0f2cbd]:nth-child(3):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(3):before {
    -webkit-animation-delay: 541ms;
    animation-delay: 541ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(4) {
    top: calc(50% - 51px);
    left: calc(50% - 49px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(4),
.shooting_star[data-v-3a0f2cbd]:nth-child(4):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(4):before {
    -webkit-animation-delay: 6492ms;
    animation-delay: 6492ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(5) {
    top: calc(50% - 7px);
    left: calc(50% - 6px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(5),
.shooting_star[data-v-3a0f2cbd]:nth-child(5):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(5):before {
    -webkit-animation-delay: 7811ms;
    animation-delay: 7811ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(6) {
    top: calc(50% - -101px);
    left: calc(50% - 122px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(6),
.shooting_star[data-v-3a0f2cbd]:nth-child(6):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(6):before {
    -webkit-animation-delay: 3724ms;
    animation-delay: 3724ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(7) {
    top: calc(50% - 129px);
    left: calc(50% - 222px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(7),
.shooting_star[data-v-3a0f2cbd]:nth-child(7):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(7):before {
    -webkit-animation-delay: 8788ms;
    animation-delay: 8788ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(8) {
    top: calc(50% - 102px);
    left: calc(50% - 91px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(8),
.shooting_star[data-v-3a0f2cbd]:nth-child(8):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(8):before {
    -webkit-animation-delay: 4826ms;
    animation-delay: 4826ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(9) {
    top: calc(50% - 101px);
    left: calc(50% - 121px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(9),
.shooting_star[data-v-3a0f2cbd]:nth-child(9):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(9):before {
    -webkit-animation-delay: 8621ms;
    animation-delay: 8621ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(10) {
    top: calc(50% - 163px);
    left: calc(50% - 206px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(10),
.shooting_star[data-v-3a0f2cbd]:nth-child(10):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(10):before {
    -webkit-animation-delay: 9016ms;
    animation-delay: 9016ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(11) {
    top: calc(50% - -32px);
    left: calc(50% - 26px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(11),
.shooting_star[data-v-3a0f2cbd]:nth-child(11):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(11):before {
    -webkit-animation-delay: 6714ms;
    animation-delay: 6714ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(12) {
    top: calc(50% - -23px);
    left: calc(50% - 214px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(12),
.shooting_star[data-v-3a0f2cbd]:nth-child(12):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(12):before {
    -webkit-animation-delay: 1688ms;
    animation-delay: 1688ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(13) {
    top: calc(50% - -175px);
    left: calc(50% - 36px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(13),
.shooting_star[data-v-3a0f2cbd]:nth-child(13):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(13):before {
    -webkit-animation-delay: 8675ms;
    animation-delay: 8675ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(14) {
    top: calc(50% - 10px);
    left: calc(50% - 92px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(14),
.shooting_star[data-v-3a0f2cbd]:nth-child(14):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(14):before {
    -webkit-animation-delay: 6316ms;
    animation-delay: 6316ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(15) {
    top: calc(50% - -90px);
    left: calc(50% - 118px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(15),
.shooting_star[data-v-3a0f2cbd]:nth-child(15):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(15):before {
    -webkit-animation-delay: 3769ms;
    animation-delay: 3769ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(16) {
    top: calc(50% - -195px);
    left: calc(50% - 175px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(16),
.shooting_star[data-v-3a0f2cbd]:nth-child(16):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(16):before {
    -webkit-animation-delay: 3285ms;
    animation-delay: 3285ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(17) {
    top: calc(50% - -40px);
    left: calc(50% - 228px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(17),
.shooting_star[data-v-3a0f2cbd]:nth-child(17):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(17):before {
    -webkit-animation-delay: 9444ms;
    animation-delay: 9444ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(18) {
    top: calc(50% - 20px);
    left: calc(50% - 280px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(18),
.shooting_star[data-v-3a0f2cbd]:nth-child(18):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(18):before {
    -webkit-animation-delay: 3614ms;
    animation-delay: 3614ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(19) {
    top: calc(50% - -36px);
    left: calc(50% - 77px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(19),
.shooting_star[data-v-3a0f2cbd]:nth-child(19):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(19):before {
    -webkit-animation-delay: 2663ms;
    animation-delay: 2663ms
}

.shooting_star[data-v-3a0f2cbd]:nth-child(20) {
    top: calc(50% - -159px);
    left: calc(50% - 118px)
}

.shooting_star[data-v-3a0f2cbd]:nth-child(20),
.shooting_star[data-v-3a0f2cbd]:nth-child(20):after,
.shooting_star[data-v-3a0f2cbd]:nth-child(20):before {
    -webkit-animation-delay: 7311ms;
    animation-delay: 7311ms
}

@-webkit-keyframes tail-data-v-3a0f2cbd {
    0% {
        width: 0
    }

    30% {
        width: 100px
    }

    to {
        width: 0
    }
}

@keyframes tail-data-v-3a0f2cbd {
    0% {
        width: 0
    }

    30% {
        width: 100px
    }

    to {
        width: 0
    }
}

@-webkit-keyframes shining-data-v-3a0f2cbd {
    0% {
        width: 0
    }

    50% {
        width: 30px
    }

    to {
        width: 0
    }
}

@keyframes shining-data-v-3a0f2cbd {
    0% {
        width: 0
    }

    50% {
        width: 30px
    }

    to {
        width: 0
    }
}

@-webkit-keyframes shooting-data-v-3a0f2cbd {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(300px);
        transform: translateX(300px)
    }
}

@keyframes shooting-data-v-3a0f2cbd {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(300px);
        transform: translateX(300px)
    }
}

@-webkit-keyframes sky-data-v-3a0f2cbd {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    to {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
}

@keyframes sky-data-v-3a0f2cbd {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    to {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
} */