.nth-home {
    /* margin: 3% 0 3%; */
    text-align: center;
    color: rgb(146, 62, 62);
    /* margin: 1.1% auto; */
    font-size: small;

    
}
/* .font-link {
    font-family: 'Press+Start+2P';
  } */
  
.nth-home h5{
    margin: 0  0 2%;
    font-size: small;
    
}
.nth-home h3{
    /* margin: 0  0 2%; */
    font-size: large;
    
}

 .nth-home img {
    display: block;
    margin: auto;
    width: 400px;
}

@media screen and (max-width: 450px) {
    .nth-home img{
        width: 90%;
    }
    
}


/* .nth-home .hunt-button {
    background: #E9B171;
    border-radius: 10px;
    border: none;
    padding: 8px 20px;
    color: white;
    font-size: larger;
  }
  
 .nth-home .hunt-button:hover,
 .nth-home .hunt-button:focus {
    box-shadow: 0 0.5em 1em -0.4em #E9B171;
    transform: translateY(-0.25em);
  }

@media screen and (min-width : 992px) {
    .nth-home .hunt-button-css{
        display: none;
    }
} */

