/* body {
    background-color: black;
} */
.about-page{
    color: rgb(176, 46, 46);
    text-align: left;
    margin: 4.5% auto;
}
.about-page .info{
    margin: 3% auto;
}

.about-page .info img{
    width:70%;
}

@media screen and (max-width:430px) {
    .about-page .info img{
        width:90%;
    }
}

.about-page .content{
    margin-left: 7%;
}

.about-page img{
    display: block;
    margin: auto;
}

.about-page em{
    color:#E9B171;
}