.nes-container .nes-field .col{
    color:#cbe971 ;
}
/* .nes-container { */
    /* color:#cbe971 ; */
    /* width: auto; */
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; 
    position: relative; */
/* } */
.instructions {
    /* margin: 6% auto 2%; */
    /* color: #cbe971; */
    height: 800px;
    display: block ;
    overflow: auto;
    /* overflow-x: hidden; */
    width: 100%;
}

.answer-1 {
    margin-top: 1rem;
    color: #181818;
    cursor: default;
    text-align: center;
}

.instructions-content {
    margin: 2% 7%;
    font-size: 1.05rem;
    color: white;
}

@media screen and (max-width : 200px) {
    .instructions {
        margin: 15% 4% 5%;
        /* width: 90%; */
    }
    /* .instructions .nes-balloonnes-balloon{
        margin: 1% 0 1% 8%;
    } */
    /* .instructions-content {
        
    } */
}